@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Welcome To The SUPERZONE!</h1>
        <p class="lead">All Hail The Ambigously Gay Duo!</p>
        <p>
            <div class="container">

                <div class="row">
                    <div class="col-lg">
                        <img src= "C:\Users\Nick\Desktop\DevCodeCamp\Week 6\Projects\Superheros\Superheros\Views\Home\Images\AGDuo.jpg" width="300" height="300">
                    </div>
                </div>
            </div>
    </center>
</div>
