@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <center><h1>Welcome To The SUPERZONE!</h1>
        <p class="lead">All Hail The Ambigously Gay Duo!</p>
        <p><img src="Images\AGDuo.jpg" /></p></center>
    </div>