@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Welcome To The SUPERZONE!</h1>
        <p class="lead">All Hail The Ambigously Gay Duo!</p>
    <img src="~/Images/AGDuo.jpg" class="col-sm-10">
</div>
